#mainPage {
    background-image: url("../img/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* INDEX */

#launchBtn {
    margin-top: 20%;
    padding: 20px 2% 
}